* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.7rem;
    font-size: 110%;
    font-family: 'Fira Sans', apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

/*.margin-bottom-x {*/
	/*margin-bottom: 100px;*/
/*}*/

.min-height-300 {
    min-height: 300px;
}

a:hover {
    text-decoration: none;
}

.header, .bottom-header {
    background: #003DA7;
}

.bottom-header {
    border-top: 1px solid #1856C2;
}
/*
.page-menu {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.page-menu a {
    font-weight: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 60px;
}
*/
.page-menu .active {
    color: #003DA7;
    background: #FFFFFF;
    padding: 5px 7px;
}

.logo {
    padding-top: 14px;
    padding-bottom: 14px;
}

.logo a img {
    height: 68px;
    margin-right: 60px;
}

.logo-wrap {
    display: inline-block;
}

.logo-wrap > a {
    display: inline-block;
}

.top-header ul.langs li {
    list-style: none;
    padding-top: 30px;
    height: 60px;
}

.top-menu {
    display: inline-block;
}

.top-menu ul {
    display: inline-block;
    background: #003DA7;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-menu ul .active {
    color: #99FF1D;
}

.top-menu ul li {
    padding-top: 0;
    display: inline-block;
    position: relative;
}

.top-menu ul li li {
    width: 100%;
}

.top-header .lang a,
.top-menu ul li a,
.top-menu ul li .sub,
.top-menu ul li span {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    padding: 38px 15px;
    transition: .25s ease;
    cursor: pointer;
}

.top-header .lang a {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
}

.lang a:hover,
.lang a.active,
.top-menu > ul > li:hover > a,
.top-menu > ul > li:hover > span {
    color: #99FF1D;
}

.top-menu .sub-menu a {
    text-transform: none;
    padding: 15px 30px;
    width: 100%;
    font-weight: 400;
}

.top-header .lang {
    float: right;
    list-style: none;
    background: #003DA7;
    margin: 0;
    padding: 0;
}

.top-header .lang li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.top-menu ul li:hover .sub-menu {
    display: block !important;
}

.sub-menu {
    display: none !important;
    position: absolute;
    z-index: 999;
    background: rgb(0, 61, 167, .8);
    width: 100%;
    min-width: 260px;
    -webkit-box-shadow: 0 2px 5px rgba(10, 10, 10, .8);
    box-shadow: 0 2px 5px rgba(10, 10, 10, .8);
    top: 101px;
}

.sub-menu li,
.sub-menu li a {
    color: #FFFFFF;
    transition: .25s ease;
}

.sub-menu li:hover {
    background: white;
}

.sub-menu li:hover a {
    color: black;
}

.top-menu > .active:after {
    content: "";
    background: #00BFD6;
    display: block;
    width: 100%;
    height: 2px;
}

#slider {
    min-height: 600px;
    height: 80vh;
}

#slider .owl-item {
    margin-left: -1px;
    margin-right: 1px;
}

#slider .slider-item {
    min-height: 600px;
    height: 80vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #364459;
    background-position: center;
    position: relative;
}

#slider .slider-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
}

#slider .caption-wrapper {
    position: relative;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px 25px;
}

#slider .caption-wrapper::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

#slider .caption {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
}

#slider .caption h1,
#slider .caption h2 {
    text-transform: uppercase;
}

#slider .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25px;
}

#slider .owl-prev,
#slider .owl-next {
    position: absolute;
    background: none;
    border-radius: 0;
}

#slider .owl-prev {
    left: 0;
}

#slider .owl-next {
    right: 0;
}

#slider p {
    font-size: 120%;
}

.top-footer {
    background: #000000;
    height: 175px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #242424;

}

.bottom-footer {
    background: #000000;
    padding-top: 60px;
}

.bottom-footer article {
    display: flex;
    justify-content: space-between;
}

.top-footer article {
    display: flex;
    justify-content: space-between;
}

.top-footer ul {
    display: flex;
}

.top-footer ul li {
    background: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 15px;
}

.top-footer ul li i {
    padding: 16px 13px;
    color: black;
}

.pochta {
    background: url(../img/pochta.svg);
    display: block;
    width: 41px;
    height: 63px;
    margin-right: 21px;
}

.tel-footer {
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.5em;
}

.address-footer {
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 300px;
    width: 100%;
    font-size: 1rem;
}

.mail-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bottom-footer h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.bottom-footer .light {
}

.bottom-footer h1 a {
    font-size: 1.2rem;
}

.bottom-footer li {
    list-style: none;
    margin-bottom: 15px;   
}

.bottom-footer a {
    font-size: .9rem;
    color: #FFFFFF;
}

.copyright {
    background: #000000;
    padding-bottom: 70px;
    padding-top: 60px;
}

.copyright article {
    display: flex;
    justify-content: space-between;
}

.copyright p {
    letter-spacing: 0.03em;
    font-size: .8rem;
    color: #FFFFFF;
}


.page-content {
    min-height: 400px;
    padding-bottom: 60px;
    overflow-x: hidden;
}

.page-content p {
    color: #000000;
    padding-top: 20px;
    margin-bottom: 0;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
    margin-top: 2em;
}

.page-content h1 {
	font-size: 2rem;
}

.page-content h2 {
	font-size: 1.8rem;
}

.page-content h3 {
	font-size: 1.6rem;
}

.page-content h3,
.page-content h4,
.page-content h5 {
	font-size: 1.4rem;
}

.page-content strong {
    font-weight: 500;
    margin-bottom: 60px;
}

.page-content ul,
.page-content ol {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}

.page-content ul {
    list-style: none;
}

.page-content ul li,
.page-content ol li {
    margin-bottom: 15px;
}

.not-display-d {
    display: none !important;
}

.slider .item {
    min-height: 600px;
    height: 80vh;
}

.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.contacts-page {
    display: flex;
    justify-content: space-between;
}

.contacts-page div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
}

.contacts-page div span {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 17px;
    color: #000000;
}

.contacts-page div p {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;

}

.contacts-page div h4 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #000000;

}

.video-content h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 60px;
}

.video-content h1 span {
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 46px;
    color: #000000;
}

.video-content iframe {
    width: 100% !important;
    height: 730px !important;
    margin-bottom: 80px;
}

.document {
    font-style: normal;
    font-weight: 300;
    color: #796f6f;
}

.single-newsphoto {
    margin-right: 60px;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.page-content img {
    display: inline-block;
    max-width: 800px;
    width: 100%;
    height: auto;
}

.blur {
    transition: 0.25s ease;
}

.blur h1,
.blur span {
    opacity: 0;
}

.blur::before {
    transition: .5s ease;
}

.blur:hover::before {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)), linear-gradient(180deg, rgba(0, 0, 0, 0) 46.87%, rgba(0, 0, 0, 0.75) 100%), rgba(0, 50, 50, 0.5);
}

.blur:hover h1,
.blur:hover span {
    opacity: 1;
}

.blur:hover img {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.about-us p {
    font-size: 1.1rem;
}

@media (min-width: 1920px) {
}

@media (min-width: 1199px) {

}

@media (max-width: 567px) {
}

@media (max-width: 768px) {
    #slider {
        margin-top: 90px;
    }

    #slider .caption h1,
    #slider .caption h2 {
        font-size: 1.7em;
    }


    .page-content.section h1,
    .video-content h1 {
    	font-size: 1.7em;
    }

    .page-content.section h2 {
        font-size: 1.6em;
    }

    .single_gallery {
        margin-top: 100px;
    }

    .news-title {
        height: 400px;
        margin-top: 90px;
        background-attachment: scroll !important;
    }

    .page-content h2, .page-content h3, .page-content h4, .page-content h5 {
        margin-top: 25px;
    }


    .page-content h1 {
		font-size: 1.6rem;
	}

	.page-content h2 {
		font-size: 1.4rem;
	}

	.page-content h3 {
		font-size: 1.3rem;
	}

	.page-content h3,
	.page-content h4,
	.page-content h5 {
		font-size: 1.2rem;
	}

    .page-content ul {
        margin-top: 40px;
        margin-bottom: 40px;
        list-style: none;
        margin-left: 23px;
    }

    .not-display-m {
        display: none !important;
    }

    .not-display-d {
        display: block !important;
    }

    .mobile-header {
        background: #003DA7;
        position: fixed;
        width: 100%;
        z-index: 999999;
        top: 0;
        height: 90px;
    }

    .mobile-header .top-header {
        background: #003DA7;
        position: fixed;
        width: 100%;
        z-index: 999999;
        top: 0;
        height: 90px;
        left: 0;
    }

    .m-bottom-header {
        background: #003DA7;
        position: fixed;
        height: 100%;
        min-width: 320px;
        max-width: 480px;
        width: 100%;
        top: 0;
        bottom: 0;
        left: -500px;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: left .5s ease;
    }

    .m-bottom-header.open {
        left: 0;
    }

    #mmenu-block {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(10,10,10,.4);
    }

    .mmenu-lang-wrap {
        background: #003DA7;
        position: relative;
        margin-top: 120px;
        margin-bottom: 60px;
    }

    .mmenu-lang-wrap nav {
        display: table;
        width: 100%;
    }

    .mmenu-lang-wrap nav ul {
        padding: 0;
        margin: 0;
        display: table-row;
        list-style: none;
    }

    .mmenu-lang-wrap nav ul li {
        display: table-cell;
        position: relative;
        max-width: 60px;
    }

    .mmenu-lang-wrap nav ul li > a {
        color: #fff;
        display: block;
        padding: 0;
        font-size: 13px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        position: relative;
    }

    .mmenu-lang-wrap nav ul li.active a {
        background: #00BFD6;
    }

    .text-overflow-ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .slider {
        margin-top: 90px;
    }

    .mobile-menu {
        list-style: none;
        margin-left: 20px;
        margin-bottom: 67px;
    }

    .mobile-menu li {
        margin-bottom: 39px;
    }

    .mobile-menu li a {
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .carousel-caption h1 {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .logo {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 20px;
        padding-right: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .page-title {
        margin-bottom: 20px;
        margin-top: 90px;
    }

    .page-title h1 {
    }

    .contacts-page {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sub-mobile li {
        margin-bottom: 15px !important;
    }

    .top-footer {
        background: #000000;
        height: inherit;
        display: block;
        padding-top: 40px;
        align-items: center;
        border-bottom: 1px solid #242424;
    }

    .top-footer article {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .top-footer ul {
        display: flex;
        margin-bottom: 40px;
    }

    .tel-footer {
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    .address-footer {
    	max-width: 320px;
    	text-align: center;
        font-style: normal;
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    .mail-footer {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .copyright p {
        font-size: 13px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
    }

    .copyright {
        background: #000000;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .margin-bottom-x {
		margin-bottom: 40px;
	}
}

.mmenu,
.mmenu ul {
    list-style: none;
}

.mmenu li {
}

.mmenu li a {
    color: white;
    font-size: 18px;
    margin: 20px 15px 20px 25px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mmenu > li > a {
    text-transform: uppercase;
}

.mmenu ul li {
    padding-left: 25px;
}

.mmenu li:first-child {
    border-top: 1px solid #0744AE;
}

.mmenu li {
    border-bottom: 1px solid #0744AE;
}

.pagination1 {
    margin: 50px 0 0;
    text-align: center;
}

.pagination1 ul {
    padding: 0;
    margin: 0;
}

.pagination1 ul li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0 7px;
    font-size: 17px;
    list-style: none;
}

.pagination1 ul li::before {
    content: '';
}

.pagination1 ul li a {
    display: block;
    text-decoration: none;
    padding: 0 3px;
    border-bottom: 2px solid transparent;
    color: inherit;
}

.pagination1 ul li a:hover {
    text-decoration: none;
}

.pagination1 ul li.active a {
    border-color: #1088ef;
}

.pos-right {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
}

.m-open {
    overflow-y: hidden;
}

.btnNav {
    float: left;
    width: 40px;
    height: 40px;
    background: none;
    position: relative;
    border: none;
    display: none;
    overflow: hidden;
}

.btnNav:after, .btnNav:before,
.btnNav span {
    width: 32px;
    height: 2px;
    position: absolute;
    display: block;
    content: "";
    background: #fff;
    border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    left: 50%;
    margin-left: -16px;
    transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.btnNav:before {
    top: 8px;
}

.btnNav:after {
    bottom: 8px;
}

.btnNav span {
    top: 50%;
    width: 50px;
    margin-top: -1.5px;
    transition: all 0.2s ease 0.2s;
    -o-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -ms-transition: all 0.2s ease 0.2s;
}

.btnNav.active:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    bottom: 19px;
    transition: all 0.2s ease 0.2s;
    -o-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -ms-transition: all 0.2s ease 0.2s;
}

.btnNav.active:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: 19px;
    transition: all 0.2s ease 0.2s;
    -o-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -ms-transition: all 0.2s ease 0.2s;
}

.btnNav.active span {
    left: -150%;
    transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

/*.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {*/
	/*font-weight: 400;*/
/*}*/